.rule-editor {
    margin: 100px !important;
    .editor {
        border: 1px solid #ccc;
        text-align: left;
        div {
            padding: 15px !important;
            font-size: 20px;
            height: 400px;
            width: 100%;
        }
    }
}

